@model IEnumerable<EntityLayer.Concrete.City>

<div class="form-group col-md-6">
        <label for="exampleInputPassword2 mb-2">Şehirler</label>
        <select class="form-control" id="SelectCity1" name="SelectCity" >
            <option>Select City</option>
            @foreach (var item in Model)
            {
                <option>@item.CityName</option>
            }
        </select>
 
</div>