<div class="comment-top">
    <h4>Bir yorum yapın</h4>
    <div class="comment-bottom">
        <form id="formComment" method="post" asp-action="PartialAddComment" asp-controller="Comment">
            <input class="form-control" type="text" id="CommentUserName" name="CommentUserName" placeholder="Adınız" required="">

            <input class="form-control" type="text" id="ContentTitle" name="ContentTitle" placeholder="Başlık" required="">

            <textarea class="form-control" id="CommentContent" name="CommentContent" placeholder="Yorumunuz..." required=""></textarea>
            <button type="submit" class="btn btn-primary submit">Yorum yap</button>
        </form>
        <script src="~/CoreBlogTema/js/jquery-2.2.3.min.js"></script>
        
        <script type="text/javascript">

            $(function () {
                $("#formComment").submit(function (e) {
                    console.log('Yorum yollanıyor...');
                    var formAction = $(this).attr("action");

                    var formData = {
                        CommentUserName: $("#CommentUserName").val(),
                        ContentTitle: $("#ContentTitle").val(),
                        CommentContent: $("#CommentContent").val(),
                    };

                    $.ajax({
                        type: 'post',
                        url: formAction,
                        data: formData,
                        encode: true,
                    }).done(function (result) {
                        // do something with the result now
                        if (result.status === "Success") {
                            $('#CommentUserName').val('')
                            $('#ContentTitle').val('')
                            $('#CommentContent').val('')
                            alert(result.message);
                            console.log("ok", result.message);
                        } else {
                            alert(result.errorMessage);
                            console.log("bad", result.errorMessage);
                        }
                    });
                   
                    e.preventDefault();
                });
            })
        </script>
    </div>
</div>
